<div class="container">
  <h1>Formulario</h1>
  <form
    #Form="ngForm"
    (ngSubmit)="sendForm(Form)"
    class="row g-3 needs-validation"
  >
    <div class="form-group">
      <label for="id">Name:</label>
      <input
        id="name "
        class="form-control"
        name="name"
        [(ngModel)]="oFileIten.id"
        required
      />
    </div>
    <div class="form-group">
      <label for="creation">Creation Date:</label>
      <input
        id="creation"
        name="creation"
        class="form-control"
        [(ngModel)]="oFileIten.creation"
        type="date"
        required
      />
    </div>
    <app-items-avatars  (deleteItem)="deleteOwnerList($event)" [ItemsAvatars]="oFileIten.owners"></app-items-avatars>
    <select
      [(ngModel)]="oFileIten.type"
      class="form-control form-control-lg"
      name="type"
    >
      <option value="FILE">File</option>
      <option value="FOLDER">folder</option>
    </select>
    
    <ul
      class="form-control form-control-lg"
      name="owners"
    >
    <h6>Dueños</h6>
      @for (owners of listOwners; track $index) {
        <li value={{owners.name}} (click)="addOwner(owners)"><img src={{owners.avatarUrl}}  style="height: 32px;" alt=""></li>
      }
    </ul>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
